cache:
    enabled: false
    adapter: 'file'
    lifetime: 900
    namespace: 'japi'

database:
    migrations: 'migrations'
    connections:
        default:
            driver: 'mysql'
            host: '127.0.0.1'
            port: ~
            database: 'api_docs'
            username: ~
            password: ~
            charset: 'utf8mb4'
            collation: 'utf8mb4_unicode_ci'
            prefix: ~
log:
    level: 'error'

twig:
    debug: false
