{% extends 'base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>Joomla! API Documentation</h1>
    </div>
    <p class="lead">This site provides an API reference for the Joomla! CMS and Framework releases based on the comments in the source code.</p>
    <div class="row-fluid">
        <main class="span9">
            <div class="row-fluid">
                <ul class="thumbnails">
                    <li class="span6">
                        <div class="thumbnail">
                            <img src="https://api.joomla.org/images/cms.png" alt="">
                            <div class="caption">
                                <p>
                                    <a href="{{ route('cms/3.x') }}" class="btn btn-large btn-block">CMS 3.x</a>
                                    <a href="{{ route('cms/2.5') }}" class="btn btn-large btn-block">CMS 2.5</a>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="span6">
                        <div class="thumbnail">
                            <img src="https://api.joomla.org/images/framework.png" alt="">
                            <div class="caption">
                                <p>
                                    <a href="{{ route('framework/1.x') }}" class="btn btn-large btn-block">Framework 1.x</a>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </main>
        <aside class="span3">
            <h3>Additional Resources</h3>
            <ul class="nav menu nav-stacked nav-tabs">
                <li><a href="https://docs.joomla.org">Documentation Wiki</a></li>
                <li><a href="https://developer.joomla.org/coding-standards.html">Coding Standards Manual</a></li>
                <li><a href="https://developer.joomla.org/en-gb-user-interface-text-guidelines.html">en-GB User Interface Text Guidelines</a></li>
                <li><a href="https://github.com/joomla/joomla-cms">Joomla! CMS on GitHub</a></li>
                <li><a href="https://github.com/joomla-framework">Joomla! Framework on GitHub</a></li>
            </ul>
        </aside>
    </div>
{% endblock %}
